*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Titillium Web', sans-serif;    
}
/* Para yo*/
.nombre_puesto{
    text-align-last: center;
    color: blanchedalmond;
    position: static;
}
h2{
    font-style: italic;
    font-family: 'Oswald', sans-serif;
}
h3{
    text-align: center;
    font-size: 42px;
    width: 100%;
    padding: 3%;
    padding-top: 1%;
    padding-bottom: 1%;
    font-family: 'Oswald', sans-serif;
}
.yo{
    /*En el mockup esta como index*/
    position: static;
    width: 100%;
    height: 100vh;
    background: linear-gradient(180deg, #010934 45.83%, #00C2FF 100%);
    margin: 0;
}
hr{
    color: #000000;
    padding-bottom: 4%;
    visibility: hidden;
}
article{
    background-color: white;
    margin-left: 5%;
    height: 84vh;
    width: 89%;
    padding-top: 3%;
}
.sobre_mi{
    /* Personal */
    position: static;
    width: 100%;
    height: 100vh;
    background: linear-gradient(180deg, #00C2FF 0%, #4561C6 85.42%);
    margin: 0;
}
.contenedor{
    display: flex;
    flex-flow:wrap row;
    justify-content: space-around;
    align-content:space-around;
    padding-bottom: 10%;
    padding-top: 10%;
}
h4{
    font-size: 30px;
}
.p_sobre{
    font-size: 16px;
    text-align: justify;
}
.intro{
    text-align: center;
    width: 60%;
    margin-left: 3%;
    padding: 3%;
    padding-top: 0;
}
.forma{
    display: block;
    border-left: black 3px solid;
    text-align: center;
    width: 33%;
    margin-right: 3%;
    padding: 3%;
    padding-top: 0;
    padding-bottom: 0;
}
.inte{
    text-align: center;
    padding: 3%;
    margin-top: 1%;
    margin-left: 3%;
    margin-right: 3%;
    padding-top: 0;
}
/* Habilidades */
.habilidades{
    position: static;
    width: 100%;
    height: 100vh;
    background: linear-gradient(180deg, #4561C6 33.85%, #321CB7 100%);
}
ul{
    margin-top: 2%;
    margin-bottom: 1%;
    font-size: 24px;
    list-style-type: none;
}
.portafolio{
    /* Portafolio */
    position: static;
    width: 100%;
    height: 100vh;
    background: linear-gradient(180deg, #321CB7 50.2%, #321CB7 50.21%, #4B0A7D 100%);
}
#proyectos{
    display: flex;
    justify-content: center;
    align-content: flex-start;
}
.cont_lista{
    width: 60%;
    font-size: 36px;
}
.interior_lista{
    margin-left: 10%;
}
.lista_des{
    cursor: pointer;
}
#lista_HA, #lista_OP{
    display: none;
}
.interior_lista{
    display: none;
}
#lista_HA:checked~.interior_lista{
    display: block;
}
#lista_OP:checked~.interior_lista{
    display: block;
}

/* Contacto */
.contacto{
    position: static;
    width: 100%;
    height: 100vh;
    background: linear-gradient(180deg, #480D80 0%, #000000 100%);
}
.contenedor-form{
    display: block;
    border: black;
    background: linear-gradient(180deg, #480D80 0%, rgba(72, 13, 128, 0.56) 100%);
    color: white;
    padding-bottom: 5%;
    margin-left: 15%;
    margin-right: 15%;
    font-size: 24px;
    text-align: left;
}
.titulo_form{
    color: white;
    padding-top: 3%;
}
input, textarea{
    outline:none;
}
.textoform{
    width: 90%;
    margin-left: 5%;
    height: 30px;
}
.mensaje{
    height: 100px;
}
#enviar{
    padding:0 3% 0 3%;
    float: right;
    margin-right: 5%;
    background-color: rgb(54, 0, 54);
    color: white;
    font-size: 18px;
    border: none;
}
.enlace_github{
    text-decoration: none;
    color: lightslategray;
}
h6{
    color: white;
    text-align: center;
    padding: 3%;
}