:root{
    /*Paleta de colores*/
    --naranja-fuerte: #ee8b00;
    --naranja-mediano:#ff9900;
    --naranja-amarillo:#ffb12c;
    --azul-fuerte:#005df4;
    --azul-clarito:#467cff;
    --blanco-transparente: rgba(255, 255, 255, 0.6);
    /*Tipografia*/
    --titulo: 'Pacifico', cursive;
    --subtitulo:'Josefin Sans', sans-serif;
    --texto:'Dosis', sans-serif;
}
.music{
    background-color: var(--blanco-transparente);
    /* backdrop-filter: blur(1px);
    -webkit-backdrop-filter: blur(1px); */
}
.reproductor{
    position:fixed;
    z-index: 9999;
    bottom: 15px;
    right: 15px;
}
.vol-range{
    display:none;
}
*{
    margin: 0%;
    padding: 0%;
    box-sizing:unset;
    font-family: var(--texto);
}
body::-webkit-scrollbar {
    display: none;
}
.container-fluid{
    padding: 0;
}
html{
    scroll-snap-type: y mandatory;
}
#particles-js{
    height: 100vh;
    width: 100%;
    position:fixed;
    background: linear-gradient(180deg, #ee8b0086 33.85%, #ffb22c80 100%);
    z-index:-1;
}
.yo, .sobre_mi, .habilidades, .portafolio, .contacto{
        scroll-snap-align: center;
        scroll-snap-stop: always;
}
/* Principal */
.carousel{
    position: static;
}
.carousel-inner{
    position: absolute;
    height: 100%;
}
.img-carrusel{
    height:40vh;
    width: 45%;
}
.carousel-caption{
    left: 50%;
    bottom: 45%;
    padding-bottom: 0;
    text-shadow:1px 1px 2px black;
}
.carrusel{
    background-color:rgb(60, 70, 87);
    height: 40%;
    position: absolute;
    z-index: 0;
}
.nombre{
    font-size: 3em;
    color: #005df4;
    font-family: var(--titulo);
    margin-top: 10%;
    background-color: var(--blanco-transparente);
    padding: 2%;
    width: 100%;
    border-radius: 25px;
}
.puesto{
    font-size: 1.25rem;
    color: #467cff;
    font-family: var(--subtitulo);
    background-color: rgba(255, 255, 255, 0.6);
    padding: 2%;
    padding-left: 5%;
    padding-right: 5%;
    width: 100%;
    border-radius: 25px;
}
.entrada{
    background-color: var(--blanco-transparente);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    text-align: center;
    width: 82vw;
    height: 12vh;
}
.mi-foto{
    width: 30vh;
    height:30vh;
    margin-top: 25vh;
    z-index: 1;
}

/*Sobre mi*/

.contenedor{
    margin-top: 5%;
    margin-bottom: 5%;
    background-color: var(--blanco-transparente);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    width: 82%;
}
.titulo{
    font-size: 2rem;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 0;
    height: fit-content;
}
.info-sobre-mi{
    font-size: 1.25rem;
}
.p_sobre{
    font-size: 0.9rem;
    text-align: justify;
    width: 76%;
}

/* Habilidades */

.ins-poppover{
    width: 80%;
}
.btn-pop{
    text-align: left;
    width: 100px;
}
ul{
    font-size: 1.25rem;
    list-style-type: none;
    width: 80%;
}
li{
    margin-bottom: 3%;
}

/* Proyectos */

.cont_lista{
    width: 70%;
    font-size: 1.25rem;
    margin-left: 10%;
    height: 80%;
}
.dropdown-item{
    padding: 0.25rem 0.25rem;
}
.item-HA{
    display: block;
    width: fit-content;
    border-bottom: rgb(221, 11, 11) 3px solid;
    cursor: pointer;
}
.item-HA:hover{
    border-bottom: rgb(248, 63, 63) 5px solid;
}
.item-OP{
    display: block;
    width: fit-content;
    border-bottom: rgb(255, 162, 13) 3px solid;
    cursor: pointer;
}
.item-OP:hover{
    border-bottom: rgb(255, 136, 39) 5px solid;
}
.item-git{
    display: block;
    width: fit-content;
    border-bottom: rgb(251, 255, 13) 3px solid;
    cursor: pointer;
}
.item-git:hover{
    border-bottom: rgb(230, 255, 91) 5px solid;
}

/* Contacto */

.contenedor-form{
    background: linear-gradient(180deg, #ee8b0086 33.85%, #ffb22c80 100%);
    color: white;
    padding: 5%;
    margin: 5% 15%;
    font-size: 1.25rem;
    text-align: left;
}
.titulo_form{
    color: white;
    padding-top: 3%;
}
input, textarea{
    background-color: var(--azul-clarito);
    outline:none;
}
.textoform{
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    height: 1.875rem;
}
.mensaje{
    height: 100px;
    resize: none;
}
.form-control{
    padding:0;
    font-size: 1rem;
}
.enviar{
    margin-top: 3%;
    padding:0 3% 0 3%;
    border-color: rgb(54, 0, 54);
    color: rgb(54, 0, 54);
    font-size: 18px;
}
/* Footer */
.enlace_github{
    text-decoration: none;
    color: lightslategray;
}
h6{
    color: white;
    text-align: center;
    padding: 3%;
}