*{
    margin: 0%;
    padding: 0%;
    box-sizing:unset;
    font-family: 'Titillium Web', sans-serif;    
}
.container-fluid{
    padding: 0;
}
/* Principal */
.yo{
    position: static;
    width: 100%;
    height: 100vh;
    background: linear-gradient(180deg, #010934 45.83%, #00C2FF 100%);
    margin: 0;
}
.carrusel{
    background-color: tomato;
    height: 40%;
    position: absolute;
    z-index: 0;
}
.nombre{
    font-size: 1.5rem;
    color: blanchedalmond;
    font-style: italic;
    font-family: 'Oswald', sans-serif;
    margin-top: 10%;
}
.puesto{
    font-size: 1.25rem;
    color: blanchedalmond;
    font-family: 'Oswald', sans-serif;
}
.entrada{
    background-color: white;
    text-align: center;
    margin-bottom: 10%;
    margin-top: 7%;
    width: 82%;
    height: 12vh;
}
.mi-foto{
    width: 30vh;
    height:30vh;
    margin-top: 25vh;
    z-index: 1;
}

/*Sobre mi*/
.sobre_mi{
    position: static;
    width: 100%;
    background: linear-gradient(180deg, #00C2FF 0%, #4561C6 85.42%);
    margin: 0;
}
.contenedor{
    margin-top: 5%;
    margin-bottom: 5%;
    background-color: white;
    width: 82%;
}
.titulo{
    font-size: 2rem;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 0;
    height: fit-content;
}
.info-sobre-mi{
    font-size: 1.25rem;
}
.p_sobre{
    font-size: 0.9rem;
    text-align: justify;
    width: 76%;
}

/* Habilidades */
.habilidades{
    position: static;
    width: 100%;
    background: linear-gradient(180deg, #4561C6 33.85%, #321CB7 100%);
    margin: 0;
}
.ins-poppover{
    width: 80%;
}
.btn-pop{
    text-align: left;
    width: 100px;
}
ul{
    font-size: 1.25rem;
    list-style-type: none;
    width: 80%;
}
li{
    margin-bottom: 3%;
}

/* Proyectos */
.portafolio{
    position: static;
    width: 100%;
    height: 100vh;
    margin: 0;
    background: linear-gradient(180deg, #321CB7 50.2%, #321CB7 50.21%, #4B0A7D 100%);
}
.cont_lista{
    width: 70%;
    font-size: 1.25rem;
    margin-left: 10%;
    height: 80%;
}
.dropdown-item{
    padding: 0.25rem 0.25rem;
}
.item-HA{
    display: block;
    width: fit-content;
    border-bottom: rgb(221, 11, 11) 3px solid;
    cursor: pointer;
}
.item-HA:hover{
    border-bottom: rgb(248, 63, 63) 5px solid;
}
.item-OP{
    display: block;
    width: fit-content;
    border-bottom: rgb(255, 162, 13) 3px solid;
    cursor: pointer;
}
.item-OP:hover{
    border-bottom: rgb(255, 136, 39) 5px solid;
}
.item-git{
    display: block;
    width: fit-content;
    border-bottom: rgb(251, 255, 13) 3px solid;
    cursor: pointer;
}
.item-git:hover{
    border-bottom: rgb(230, 255, 91) 5px solid;
}

/* Contacto */
.contacto{
    position: static;
    width: 100%;
    margin: 0;
    background: linear-gradient(180deg, #480D80 0%, #000000 100%);
}
.contenedor-form{
    background: linear-gradient(180deg, #480D80 0%, rgba(72, 13, 128, 0.56) 100%);
    color: white;
    padding: 5%;
    margin: 5% 15%;
    font-size: 1.25rem;
    text-align: left;
}
.titulo_form{
    color: white;
    padding-top: 3%;
}
input, textarea{
    outline:none;
}
.textoform{
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    height: 1.875rem;
}
.mensaje{
    height: 100px;
    resize: none;
}
.form-control{
    padding:0;
    font-size: 1rem;
}
.enviar{
    margin-top: 3%;
    padding:0 3% 0 3%;
    border-color: rgb(54, 0, 54);
    color: rgb(54, 0, 54);
    font-size: 18px;
}
/* Footer */
.enlace_github{
    text-decoration: none;
    color: lightslategray;
}
h6{
    color: white;
    text-align: center;
    padding: 3%;
}