.encabezado{
    position: fixed;
    top: 0;right: 0;
    margin: 0;
    padding: 0;
    width: 26%;
    height: 11.2%;
    z-index: 9999;
}
/* Boton para abrir el menu */
#btn1{
    position:sticky;
    top: 10px;
    font-size: 2.25rem;
    float: right;
    color: black;
    cursor: pointer;
    background-color: rgba(240, 103, 235, 0.41);
    padding-top: 3px;
    padding-left: 15px;
    margin-top: 42px;

}
#btn-menu{
    display: none;
}
#btn2{
    position:fixed;
    top: 0;
    right: 50%;
    float: left;
    font-size: 2.25rem;
    color: black;
    cursor: pointer;
    background-color: rgba(240, 103, 235, 0.41);
    width: 5rem;
    height: 3.75rem;
    padding-top: 3px;
    padding-left: 15px;
    margin-top: 42px;
}
#btn2:active ~ #btn1{
    filter : opacity(0%);
}
/*Menu lateral*/

.contenedorPrin{
    position: fixed;
    background-color: rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 100vh;
    margin-top: 0;
    margin-right: 0;
    transition: all 500 ms ease;
    opacity: 0;
    visibility: hidden;
    z-index: 9999;
}
#btn-menu:checked ~.contenedorPrin{
    opacity: 1;
    visibility: visible;
}

.contLista{
    width: 100%;
    max-width: 50%;
    background: linear-gradient(90deg, rgb(142, 59, 119) 26.56%,
     rgb(0, 0, 0) 91.15%);
    height: 100vh;
    margin-left: 50%;
    position:relative;
    transform: translateX(-100%);
}
#btn-menu:checked ~ .contenedorPrin .contLista{
    transform: translateX(0%);
}

.contLista, nav{
    transform: translateY(15%);
}
.contLista, nav, #menu{
    display: block;
    text-decoration: none;
    padding: 0.5rem;
    color: white;
    border-left: 10px solid transparent;
    font-size: 1.5rem;
}
.contLista, nav, #menu:hover{
    border-left: solid transparent;
}